@model CarbCountingVM
@{
    ViewBag.Title = "CarbCounting";
}
<div class="container-wrap">
    <div id="fh5co-about">
        <div class="row">
            <div class="col-md-3">
                <h3>Makale Dizini</h3>
                <ul class="ministries-list">
                    @foreach (var item in Model.carbCountings)
                    {
                        <li>
                            <i class="icon-check"></i>
                            <a href="#" id="@item.ID" onclick="Myfunc4()" name="@item.ID">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9" id="content">
                @Html.Partial("_CarbCountingPartial", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        function Myfunc4(){

            $('a').on('click', function (ev) {
                ev.stopPropagation()
                checkEl = $(this).attr('id');
                console.log(checkEl);

            $.ajax({
                type: "Get" ,
                url: '@Url.Action("CarbCountingPartial", "Home")',
                data: { CarbCountingId: checkEl },
                success: function (result) {
                    $("#content").html(result);
                },
                error: function () {

                }
            }).done(function () {

                    });
            });
        };

</script>



