@model LoginVM
@{
    ViewBag.Title = "SignIn";
}

@*@if (null != TempData["NoteError"])
{
    <script type="text/javascript">
       alert("@TempData["NoteError"]");
    </script>
}*@

<div class="col-lg-push-2"></div>
<div class="col-md-12 text-center col-md-push-3 ">
    <section class="ftco-section contact-section">
        <div class="container mt-2">
            <div class="row block-9">
                <div class="col-md-5 ftco-animate">
                    <div class="comment-form-wrap ">

                        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @TempData["NoteError"]
                            <div class="form-group">
                                <div class="col-md-12"><br /></div>
                                <div class="col-md-12"><br /></div>

                                <h2 class="">Üye Girişi</h2>
                                <label for="email"></label>

                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-solid placeholder-no-fix form-group", type = "text", autocomplete = "off", required = "true", placeholder = "Email *", name = "E-mail" })
                            </div>
                            <div class="form-group">
                                <label for="password"></label>

                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-control-solid placeholder-no-fix form-group", type = "Password", autocomplete = "off", required = "true", placeholder = "Şifre * ", name = "Password" })
                            </div>
                            <div class="form-group form-check form-check-inline checkbox  ">
                                <div class="col-md-6 text-center">
                                    <input class="form-check-input  rem-checkbox" type="checkbox" id="rememberme" value="option1">
                                    <label class="form-check-label " for="rememberme">Beni Hatırla</label>
                                </div>
                                <div class="col-md-6 text-center"><input type="submit" value="GİRİŞ YAP" class="btn py-2 px-4 btn-primary" style="float:right"></div>
                            </div>
                            <div class="form-group sidebar-box ftco-animate">

                                <div class="col-md-12">

                                    <div class="forgot-password col-md-12 text-center">

                                        <br />
                                        
                                        <div class="col-md-12 "> <a href="/Account/Signup" class="tag-cloud-link">Hemen Kayıt Ol!</a></div>
                                        <br />
                                        <br />

                                    </div>

                                </div>

                            </div>
                        }

                    </div>
                </div>

                <div class="col-md-1"></div>



            </div>
        </div>
    </section>
</div>

